*{
    box-sizing: border-box;
}
div{
    height: 150px;
    font-size:clamp(20px,5vw,50px)
}
#left {
    background-color: #002525;
    padding: 20px;
    float: left;
    width: 20%;
    color:#018d8d;
  }
  
#middle {
    background-color: #273a00;
    padding: 20px;
    float: left;
    width: 60%; 
    color:#92db01;
  }
  
#right {
    background-color: black;
    padding: 20px;
    float: left;
    width: 20%; 
    color:#003f3f
  }
#header{
    background-color: black;
    color: white;
    text-align: center;
}
#menu{
    text-align: center;
    line-height: 75px;
    font-size: clamp(20px, 5vw, 50px);
    background-color:#3e0000;
    height: 80px
}
p{
    margin: 10px;
}
a{
    margin: 3%;
    color:#eb0202;
    text-decoration: none;
    line-height: 300%;
}

@media screen and (max-width:800px){
    #left,#middle,#right,#menu{
        width:100%;
    }
    
    #header{
        display: none;
    }
}

@media screen and (max-width:1000px){
    #header{
        height:50px;
    }
    #left,#middle,#right,#menu{
        width:100%;
    }
    h1{
        font-size: clamp(3vw,5vw,8vw);
    }
}

